<div class="container">
  <div class="row ">
    <div class="column column-50 column-offset-25 text-center">
      <h1>Angular Bot</h1>


      <ng-container *ngFor="let message of messages | async">
        <div class="message" [ngClass]="{'from': message.sentBy === 'bot',
                                         'to': message.sentBy === 'user'}">
        {{message.content}}
        </div>
      </ng-container>
      <input type="text" [(ngModel)]="formValue" (keyup.enter) ="sendMessage()"> <br>
      <button (click)="sendMessage()">Send</button>

    </div>

  </div>
</div>
