
.message{
  border-radius: 20px;
  padding: 12px;
  color: #FFF;
  margin: 6px 4px;
  font-size: 2rem;
}
.from {
  background-color: #8a2be2;
  text-align: left;

}

.to{

  background-color: darkgray;
  text-align: right;

}

.text-center{
  text-align: center;
}
